/* Geral */

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    color: #333;
}

body {
    background-image: url("../img/pexels-2.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed; 
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.card {
    width: 400px;
    background-color: #fdfdfd;
    padding: 30px;
    border-radius: 15px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.label input {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    margin-right: 0.3rem;
    border: 0;
    /* background-color: transparent; */
    border-bottom: 2px solid #102f5e;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
}

.label {
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
}

.label input:focus {
    border-bottom: 2px solid #1d67d6;
}

.label label{
    pointer-events: none;
    position: absolute;
    color: #102f5e;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.label input:focus + label, .label input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: #102f5e;
}

button {
    background-color: #fdfdfd;
    color: #102f5e;
    border: 2px solid #102f5e;
    cursor: pointer;
    padding: 7px;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 30px;
    border-radius: 4px; 
    outline: none;
    transition: all .4s ease-out;
}

button:hover {
    background-color: #102f5e;
    color: #fdfdfd;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.fa-eye {
    position: absolute;
    top: 19px;
    right: 10px;
    cursor: pointer;
    color: #333;
}

#mensagemErro {
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

#mensagemSucesso {
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;
}