/* Geral */
* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-image: url("../img/pexels-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

button {
    background-color: #fdfdfd;
    color: #102f5e;
    border: 2px solid #102f5e;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border-radius: 4px;
}

button:hover {
    background-color: #1f232b;
    color: #fff;
}

button:hover > i {
    color: #fff;
}

button i {
    color: #102f5e;
    font-weight: bold;
    pointer-events: none;
}

.justify-center {
    display: flex;
    justify-content:center;
    width: 100%;
}

.justify-center button {
    margin-left: 15rem;
    margin-top: 40px;
    border-radius: 7px;
    padding: 10px 22px;
    font-weight: bold;
}

#logado {
    margin-left: 2rem;
    margin-top: 2rem;
    color:#fff;
    background-color: #102f5e90;
    border-radius: 8px;
    padding: 5px;
}

input, select {
    padding: .25rem .5rem;
}

.hide {
    display: none;
}

/* Todo header */
.todo-container {
    max-width: 450px;
    margin: 3rem auto;
    background-color: #fdfdfd;
    padding: 1.5rem;
    border-radius: 15px;
    margin-top: 2rem;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

/* todo-form */
#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form p, #edit-form {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: 0.3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

/* Todo toolbar */
#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#toolbar h4 {
    margin-bottom: .5rem;
}

#search {
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: 0.3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter-select select{
    flex: 1;
}

/* Todo list */
.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    transition: .3s;
}

.todo h3 {
    flex: 1;
    font-size: 0.9rem
}

.todo button {
    margin-left: 0.4rem;
}

.done {
    background-color: #395169;
}

.done h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}


.main-header {
    background-color: #24252a40;
    box-shadow: 0px, 3px, 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content:end;
    padding: 0.5rem 6rem;
}

.login-button button {
    background-color: #fdfdfd;
    border-radius: 7px;
    padding: 10px 22px;
    font-weight: bold;
}

.login-button button:hover {
    background-color: #1f232b;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar{
        padding: 1.5rem 0;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu .nav-item {
        display:block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }
    
    .open {
        display: block;
    }

    .todo-container {
        max-width: 376px;
        margin: 3rem auto;
        background-color: #fdfdfd;
        padding: 1.5rem;
        border-radius: 15px;
        margin-top: 2rem;
    }
}
